<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Spotifier</strong> by <a href="https://nabilridhwan.github.io">Nabil</a>. The source code is
            <a href="https://github.com/nabilridhwan/list">open for everybody!</a> If you ever encounter a Red navigation bar (at the top), note that the website is under live-maintainence. If you encounter an error, please refresh the page.
        </p>
    </div>
</footer>