<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>LIST FOR SPOTIFY</strong>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/users" class="navbar-item">
                    Users
                </a>
            </div>

            <div class="navbar-end">

                <a href="/faq" class="navbar-item">
                    FAQ
                </a>

                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/sign_up" class="button is-primary">
                            <strong>Sign Up</strong>
                        </a>

                        <a href="/sign_in" class="button is-light">
                            Sign In
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</nav>

<script>
    if (jQuery) {
        console.log("Loaded")
    }

    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>