<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    Frequently Asked Questions
                </h1>
                <h2 class="subtitle">
                    Answers that will (most-likely) answer your question
                </h2>

            </div>
        </div>
    </section>

    <div class="container is-fluid">

        <section class="section">
            <h2 class="title">I have liked a song but It does not update on my user page!</h2>
            <p>
                Because of how Spotify works, everytime you liked a song or do any activity within Spotify, you will
                have to <a href="/sign_in">Sign In</a> into List so that List will update your user profile with the
                latest information.
            </p>
        </section>


        <section class="section">
            <h2 class="title">Why is the bar at the top colored red</h2>
            <p>I know, it's supposed to be flashy to attract attention. Anyway, the bar is colored red when the
                developer is making changes to List in realtime. Meaning to say, if you encounter inconsistent User
                Interface or any type of error, Please try again later or try to refresh the page again.</p>
        </section>

        <section class="section">
            <h2 class="title">Some of my data is missing!</h2>
            <p>There might be multiple reasons why this could happen. However it is most likely that while the developer was editing the database manually, the data may be messed up. Stay calm and Sign In again... However if it persist, it's on Spotify's side!</p>
        </section>
    </div>

    <% include ./partials/footer %>

</body>