<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>

    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    Frequently Asked Questions
                </h1>
                <h2 class="subtitle">
                    Answers that will (most-likely) answer your question
                </h2>

            </div>
        </div>
    </section>

    <div class="container is-fluid">

        <section class="section">
            <h2 class="title">I have liked a song but It does not update on my user page!</h2>
            <p>
                Because of how Spotify works, everytime you liked a song or do any activity within Spotify, you will
                have to <a href="/sign_in">Sign In</a> into List so that List will update your user profile with the
                latest information.
            </p>
        </section>

        <section class="section">
            <h2 class="title">My data is missing!</h2>
            <p>
                List for Spotify uses Heroku as its preferred hosting platform but due to Heroku's nature, everytime a new update is pushed, Heroku uses the default files included in the Repository. Since List's repository contain a default blank database JSON file, Heroku uses that and discards its current state of the database. Due to this, List is going back to <a href="https://github.com/nabilridhwan/list/issues/7">Beta</a>
            </p>
        </section>
    </div>

    <% include ./partials/footer %>

</body>