<head>
    <% include ./partials/styles %>
</head>

<body>
    <h1>Welcome to Spotifier</h1>

    <a href="/sign_up">Sign Up and let my friends see my favourite list!</a>

    <br>
    <br>

    <h2>View some user's favourite songs!</h2>
    <ol>
        <% users.forEach((user) => { %>
        <li><a href="/user/<%=user['id']%>"><%= user["name"] %>'s favourite songs</a></li>
        <% }) %>
        </ol>


    <h6>By using this service, you agree to the <a href="/privacypolicy">privacy policy</a>!</h6>

    <script>
        function authorise_user(client_id, redirect_uri, show_dialog, scope) {
            let redirect_link =
                `https://accounts.spotify.com/authorize?client_id=${client_id}&response_type=token&redirect_uri=${redirect_uri}&show_dialog=${show_dialog}&scope=${scope}`
            return redirect_link
        }

        if (window.location.hash) {
            let token = window.location.hash.substr(1).split("&")[0].split("=")[1];
            window.location = `/post_authentication/${token}?type=new`
        }
    </script>
</body>