<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>


    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    List for Spotify
                </h1>
                <h2 class="subtitle">
                    A social media platform focused on sharing your (Spotify's) Liked Songs list.
                </h2>

                <div class="columns">

                    <div class="column">
                        <a class="button is-dark" href="/users">
                            <strong>See all users!</strong>
                        </a>
                        <a class="button is-light" href="/sign_up">Sign Up!</a>

                        <br>
                        <br>

                        <h6 class="subtitle">By signing up, you agree to the <a href="/privacypolicy">privacy policy</a>
                        </h6>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container is-fluid">



        <section class="section">
            <h2 class="title">
                New changes!
            </h2>
            <h2 class="subtitle">
                Shiny new button! and Latest liked song.
            </h2>
            <p>Added a new button when you view a user's list! It's a button which says <strong>Pick a random song!</strong>
                All it does it play a random song within the user's profile list! And on the users page (the one displaying all users),
                It shows a new link with the latest liked song.
            </p>
        </section>

        <section class="section">
            <h2 class="title">
                Regarding about this Site
            </h2>
            <h2 class="subtitle">
                Yeah... sometimes shit happens.
            </h2>
            <p>So, the website is currently on-line. But since I do not have sufficient funds to keep this web-app online. (I'm just a 16 year old loser), I would need to stop the server at some time for maintainence or because I need to sleep!
                So when you get a <strong>502 Gateway Error</strong>, it means that the server is currently asleep.
            </p>
        </section>


        <section class="section">
            <h2 class="title">
                Removed: Recently Played
            </h2>
            <h2 class="subtitle">
                Some useless feature no one asked for!
            </h2>
            <p>Now on a user's profile, there is a 'Recently Played' section (On mobile, its below the 'Liked Songs'
                section). To apply the new update, existing users would need to Sign In to update their lists (this will
                also update the Liked Songs). For new users, just sign up to apply the new update. For profiles with
                <strong>'This profile has not played any songs yet!'</strong> displaying, it means that you have not
                applied the new update or it is your first time using Spotify... Who knows...</p>
        </section>

        <section class="section">
            <h2 class="title">
                Auditing accounts
            </h2>
            <h2 class="subtitle">
                OK, don't be alarmed
            </h2>
            <p>
                So, it seems that I was using my 'Beta' testing Spotify account (its just another account I made). It's username is 'OK'. I edited the database manually. Main point: My beta testing account is not part of the database anymore and if the database contains missing information, Just try sign-ing in again!
            </p>
        </section>

        <section class="section">
            <h2 class="title">
                Release of List for Spotify
            </h2>
            <h2 class="subtitle">
                Just finished cooking...
            </h2>
            <p>After the intial release of List for Spotify, I worked hard on revising the endpoints and making the server more effecient. I did a whole remake of the User Interface and tried my best to use my JavaScript skills. The new version of List for Spotify (v2.0.0) uses a whole new sign-in and sign-up system where it is more reliable this time. Sometimes users would encounter a Response error where the server is taking its time to make a user profile. Now, with Promises (in JavaScript), it makes everything fast! List for Spotify runs on NodeJS. No fancy programming, I swear!</p>
        </section>
    </div>

    <% include ./partials/footer %>

    <script>
        function authorise_user(client_id, redirect_uri, show_dialog, scope) {
            let redirect_link =
                `https://accounts.spotify.com/authorize?client_id=${client_id}&response_type=token&redirect_uri=${redirect_uri}&show_dialog=${show_dialog}&scope=${scope}`
            return redirect_link
        }

        if (window.location.hash) {
            let token = window.location.hash.substr(1).split("&")[0].split("=")[1];
            window.location = `/post_authentication/${token}?type=new`
        }
    </script>
</body>