<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>


    <section class="hero is-primary is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Spotifier
                </h1>
                <h2 class="subtitle">
                    A social media focused on sharing your Spotify's liked songs! Currently, live-changes are happening. I am currently maintaining this over the cloud! (If you face any errors, please refresh the page)
                </h2>

                <div class="columns">

                    <div class="column">
                        <a class="button is-dark" href="/users">
                            <strong>See the userbase!</strong>
                        </a>
                        <a class="button is-light" href="/sign_up">Sign Up!</a>

                        <br>
                        <br>

                        <h6 class="subtitle">By signing up, you agree to the <a href="/privacypolicy" >privacy policy</a> </h6>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>

    <script>
        function authorise_user(client_id, redirect_uri, show_dialog, scope) {
            let redirect_link =
                `https://accounts.spotify.com/authorize?client_id=${client_id}&response_type=token&redirect_uri=${redirect_uri}&show_dialog=${show_dialog}&scope=${scope}`
            return redirect_link
        }

        if (window.location.hash) {
            let token = window.location.hash.substr(1).split("&")[0].split("=")[1];
            window.location = `/post_authentication/${token}?type=new`
        }
    </script>
</body>