<head>
    <% include ./partials/styles %>
</head>

<body>
    <% include ./partials/navbar %>


    <div class="container">
        <h1 class="title">O.o</h1>
        <p>It looks like the person you are asking for is not here! Ask them to <a href="/sign_up">Sign Up!</a> </p>
    </div>
</body>