<head>
    <% include ./partials/styles %>
</head>

<body>
    <h1>Spotifier's Privacy Policy</h1>
    <h6>By using this service, you agree to the privacy policy!</h6>

    <h2>Data Collection</h2>
    <p>By using this service, the program needs to collect some data for the program to work. The data collected are your:
    </p>

    <ol>
        <li>Spotify's username and display name (It is not your email)</li>
        <li>Spotify's user id (A random identifier string which is tied to your account)</li>
        <li>Spotify's liked songs (50 of the latest liked songs)</li>
    </ol>

    <h2>How does the program process my data?</h2>
    <p>When you use our service, the program automatically creates a user profile based on your name, id and liked songs! The name is used to display when you visit the user page while the id is used so that there is no duplicates of spotify accounts on the server and the liked songs is used to display to the public.</p>

    <h2><a href="/">By signing up, you agree to the Privacy Policy</a></h2>

</body>