<head>
    <% include ./partials/styles %>
</head>

<body>

    <% include ./partials/navbar %>

    <div class="container">
        <h1 class="title">
            Sign-in
        </h1>

        <h2 class="subtitle">
            You will be redirected to the Spotify Authentication page in a moment...
        </h2>
    </div>

    <body>
        <script>
            function authorise_user(client_id, redirect_uri, show_dialog, scope) {
                let redirect_link =
                    `https://accounts.spotify.com/authorize?client_id=${client_id}&response_type=token&redirect_uri=${redirect_uri}&show_dialog=${show_dialog}&scope=${scope}`
                return redirect_link
            }

            if (window.location.hash) {
                let token = window.location.hash.substr(1).split("&")[0].split("=")[1];
                window.location = `/sign_in/${token}`
            } else {
                setTimeout(() => {
                    window.location = authorise_user("e172f1be70f64206a8b79f5e8a1f03df",
                        "https://594e36cb-cf23-47d7-88c8-e6b13fd1f154-ide.cs50.xyz/sign_in",
                        true, "user-library-read, user-read-private, user-read-recently-played")
                    console.log("Please Authenticate!")
                }, 1000);
            }
        </script>
    </body>

</body>